<div class="container-fluid alto100">
  <div class="row alto100">
    <div class="col-12 col-lg-8 border row m-0 p-0 alto100">
      <div class="col-12" style="height: 60%;">
        <app-mapa [center]="position"></app-mapa>
        <button class="btn btn-success w-100 mt-2" (click)="mostrarUbicacion()"> <strong>Mostrar mi ubicación</strong> </button>
        <button class="btn btn-warning w-100 mt-2"><strong>Ver mi trabajo actual</strong></button>
      </div>
    </div>
    <div class="col-12 col-lg-4 border p-0" id="contenedorLista">
      <span class="text-center"><h4>Ofertas en tú zona</h4></span>
      <div class="sidebar-ofertas-laborales col-12 alto100">
        <app-listas-ofertas-laborales></app-listas-ofertas-laborales>
      </div>
    </div>
  </div>
</div>
