<table class="table">
    <thead id="cabezal">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Descripción</th>
        <th scope="col">Cliente</th>
        <th scope="col">Ganancia</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Arreglar pared</td>
        <td>Mark</td>
        <td>$99.999</td>
        <td>25-11-2020</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Arreglar piso</td>
        <td>Jacob</td>
        <td>$15.000</td>
        <td>25-11-2020</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Arreglar techo</td>
        <td>Larry</td>
        <td>$89.999</td>
        <td>25-11-2020</td>
      </tr>
    </tbody>
  </table>
