<div class="container-fluid d-flex justify-content-center align-items-center alto100">
    <div class="w-50 border p-3 rounded">
        <div class="col-12 p-0 text-center mb-4">
            <h3>Registro</h3>
        </div>
        <div class="col-12 p-0">
            <mat-horizontal-stepper [linear]="true" #stepper>
                <mat-step>
                    <ng-template matStepLabel>Tus datos de usuario</ng-template>
                    <app-formulario-registro></app-formulario-registro>
                    <div>
                        <button class="w-100 btn btn-primary" mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Tus datos personales</ng-template>
                    <app-formulario-datos-personales></app-formulario-datos-personales>
                </mat-step>
           
            </mat-horizontal-stepper>
        </div>
    </div>
</div>