<div class="container-fluid alto100 border">
    <div class="row alto100">
        <div class="col-3 border">
            <div class="col-12 p-0">
                <div class="col-12 p-0 mb-2">
                    <img src="https://picsum.photos/300" style="height: 280px;" class="mb-2 w-100 rounded">
                </div>
                <div class="col-12 p-0 mb-3 text-center">
                    <h4>Nombre usuario</h4>
                </div>
                <div class="col-12 p-0 mb-2">
                   <ul style="list-style: none;" class="p-0">
                       <li class="mb-2"><fa-icon [icon]="faMapMarkedAlt" class="mr-2"></fa-icon> <span>Ubicación</span></li>
                       <li class="mb-2"><fa-icon [icon]="faPhone" class="mr-2"></fa-icon> <span>Numero de telefono</span></li>
                       <li class="mb-2"><fa-icon [icon]="faIdCard" class="mr-2"></fa-icon> <span>Rut</span></li>
                       <li class="mb-2"><fa-icon [icon]="faPuzzlePiece" class="mr-2"></fa-icon> <span>Red Contacto</span> </li>
                       <li class="mb-2"> <fa-icon [icon]="faPuzzlePiece" class="mr-2"></fa-icon> <span>Red Contacto</span></li>
                       <li class="mb-2"> <fa-icon [icon]="faPuzzlePiece" class="mr-2"></fa-icon> <span>Red Contacto</span></li>
                   </ul>
                </div>
            </div>
        </div>
        <div class="col-9 border">
            <div class="col-12 text-center">
                <h3>Sobre mí</h3>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis dolorum accusantium itaque nihil maiores? Voluptatem dolorem nobis cupiditate iusto. Reiciendis assumenda culpa deserunt fugiat pariatur. Incidunt animi porro mollitia quisquam!
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam nesciunt sint blanditiis corporis omnis. Omnis illum aperiam repellat quasi, odit mollitia doloremque reprehenderit inventore modi tempore, est, ratione molestiae laudantium!
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque unde eum nesciunt labore quibusdam rerum nam amet sed obcaecati? Accusantium eos dignissimos beatae itaque velit recusandae, sapiente repellendus blanditiis. Fugit.
                </p>
            </div>
            
            <div class="col-12 border-top">
                <div class="col-12 p-0 text-center">
                    <h3>Estudios</h3>
                </div>
                <div class="col-12 p-0">
                    <ul style="list-style: none;" class="p-0">
                        <li class="mb-2"><fa-icon [icon]="faGraduationCap" class="mr-2"></fa-icon> <span>Estudio 1</span></li>
                        <li class="mb-2"><fa-icon [icon]="faGraduationCap" class="mr-2"></fa-icon> <span>Estudio 2</span></li>
                        <li class="mb-2"><fa-icon [icon]="faGraduationCap" class="mr-2"></fa-icon> <span>Estudio 2</span> </li>
                        <li class="mb-2"> <fa-icon [icon]="faGraduationCap" class="mr-2"></fa-icon> <span>Estudio 2</span></li>
                        <li class="mb-2"> <fa-icon [icon]="faGraduationCap" class="mr-2"></fa-icon> <span>Estudio 2</span></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div>