<div class="border alto100">
  <app-item-lista-component></app-item-lista-component>
  <app-item-lista-component></app-item-lista-component>
  <app-item-lista-component></app-item-lista-component>
  <app-item-lista-component></app-item-lista-component>
  <app-item-lista-component></app-item-lista-component>
  <app-item-lista-component></app-item-lista-component>
  <app-item-lista-component></app-item-lista-component>
  <app-item-lista-component></app-item-lista-component>
  <app-item-lista-component></app-item-lista-component>
  <app-item-lista-component></app-item-lista-component>
  <app-item-lista-component></app-item-lista-component>
</div>
