<form [formGroup]="formularioRegistro">
    <div class="form-group w-100">
        <label for="emailInput">Correo electronico</label>
        <input matInput type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
            placeholder="Correo" formControlName="correo" required>
    </div>
    <div class="form-group w-100">
        <label for="">Re-ingresar Correo electronico</label>
        <input type="email" class="form-control" 
            placeholder="Repetir correo" formControlName="correoConf">
    </div>
    <div class="form-group w-100">
        <label for="emailInput">RUT</label>
        <input matInput type="number" class="form-control"
            placeholder="Rut" formControlName="rut" required>
    </div>
    <div class="form-group w-100">
        <label for="emailInput">Numero de documento</label>
        <input matInput type="text" class="form-control" id="nDocInput" aria-describedby="numeroDocumento"
            placeholder="N° documento" formControlName="nDoc" required>      
    </div>
    <div class="form-group w-100">
        <label for="emailInput">Contraseña</label>
        <input matInput type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" formControlName="pass" required>
    </div>
    <div class="form-group w-100">
        <label for="emailInput">Confirmar contraseña</label>
        <input matInput type="password" class="form-control" placeholder="Contraseña" formControlName="passConf" required>
    </div>
    <div>
        <button matStepperNext class="btn btn-primary" (click)="lol()">Next</button>
    </div>
    <button (click)="tellIfIsValid()"> LOL </button>

</form>