<div class="w-25 border shadow row m-0" id="bannerResumen">
    <div class="col-6 p-0 row m-0 border-right">
        <time datetime="2014-09-20" class="icon">
            <em>Saturday</em>
            <strong>September</strong>
            <span>20</span>
        </time>
    </div>
    <div class="col-2 border-right">
        jaja
    </div>
    <div class="col-2 border-right">
        ja
    </div>
    <div class="col-2">
        <button class="btn btn-primary w-100">Terminar por hoy</button>
    </div>
</div>