<div class="w-100 border shadow row m-0" id="bannerResumen">
    <div class="col-6 p-0 row m-0 border-right">
        <div class="col-6">
            <span>23</span>
        </div>
        <div class="col-6">
            <span>Martes</span>
            <span>Julio 2020</span>
        </div>
    </div>
    <div class="col-2 border-right">
        jaja
    </div>
    <div class="col-2 border-right">
        ja
    </div>
    <div class="col-2">
        <button class="btn btn-primary w-100">Terminar por hoy</button>
    </div>
</div>
