<div class="col-12 border row m-0 mb-2" id="itemLista">
    <div class="col-12 row m-0 border">
        <div class="col-10 border">
            <span>
                Arreglo piso
            </span>
        </div>
        <div class="col-2 border">
            <span>500 KM</span>
        </div>
    </div>
    <div class="col-12 row m-0 border">
        <div class="col-2 border">
            Foto
        </div>
        <div class="col-10 border">
            Nombre de quien creo la solicitud
        </div>
    </div> 
</div>
